.lineWrapper {
    background-color: var(--color-primary);
    border: none;
}

.secondLineWrapper {
    cursor: pointer;
    color: var(--color-neutral);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 0.7rem;
    padding: 5px;
    text-align: left;
    overflow: hidden;
}

.secondLineWrapper h2 {
    width : 100vh;
}



.inline .secondLineWrapper {
    font-size: 0.8rem;
    gap: 0px;
    cursor: default;
}

.inline h2 {
    font-size: 1.7rem;
}

.inline {
    /* color: var(--color-neutral); */
    background-color: var(--color-secondary-transparent);
    position: sticky;
    top: var(--header-height);
    z-index: 99;
    backdrop-filter: blur(4px);
}

.inline .client,.inline .year {
    margin-right: 20px 
}

@media (min-width: 600px) {
    .secondLineWrapper div {
        font-size: 3vw;
        line-height: 2;
    }

    

    .secondLineWrapper {
        row-gap: 0px;
    }
}

@media (min-width: 768px) {
    .secondLineWrapper div {
        font-size: 1.5vw;
        line-height: 1.4;
    }

    .secondLineWrapper {
        display: grid;
        grid-template-columns: 50% 2.5fr 1fr 1fr;
        padding: 9px 24px 8px;
        align-items: center;
    }

.secondLineWrapper h2 {
    width: au;
}

    .category {
        text-align: right;
    }

}

@media (min-width: 1024px) {
    .secondLineWrapper div {
        font-size: 1rem;
        line-height: 2;
    }
}