.wrapper {
    padding: 20vw
}

@media screen and (min-width: 500px) {
    .wrapper {
        padding: 20px 30vw
    }
}

@media screen and (min-width: 650px) {
    .wrapper {
        padding: 20px 35vw
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        padding: 0;
    }
}