
.itemWrapper {
    display: grid;
        place-content: center;
        height: 100%;
}


.itemImage {
    object-fit: cover;
    height: auto;
    /* width: auto; */
    padding: 21vw;
}

@media (min-width: 768px) {
    .itemImage {
        padding: 5vw;
    }
}

