.title {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-secondary);
    padding: 5vw;
    font-size: 10vw;
    text-align: center;
    line-height: 1;
    pointer-events: none;
}

@media (min-width: 768px) {
    .title {
        font-size: 2.5vw;
    }
}