.gridItem {
    overflow: hidden;
}


@media (min-width: 768px) {
    .gridItem {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
    }
}
