.wrapper {
    display: flex;
    gap: 7px;
    align-items: center;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: var(--color-secondary);
}

.bullet {
    border: solid var(--color-secondary) 2px;
    border-radius: 100%;
    width: 8px;
    height: 8px;

}

.active {
    background-color: var(--color-secondary);
}