.wrapper ul, .listsWrapper, .wrapper {
    display: flex;
}

.listsWrapper {
    gap: 25px;
}

.logoLetter {
    color: var(--color-secondary);
    font-size: 45px;
}

.wrapper ul {
    gap: 8px;
    align-items: center;
}

.wrapper {
    justify-content: space-between;
    padding: 3px 10px;
    color: var(--color-secondary);
}

.wrapper li {
    color: var(--color-secondary);
    letter-spacing: -0.3px;
}

.wrapper a {
    color: var(--color-secondary)
}

.header {
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
}

.separator {
    width: 100%;
    height: 2px;
    background-color: var(--color-secondary);
}
