.wrapper ul, .listsWrapper, .wrapper {
    display: flex;
}

.listsWrapper {
    gap: 25px;

}

.header {
    /* max-width: 100vw; */
    overflow: hidden;
}

.withBackBtn {
    gap: 90px;
}


.wrapper ul {
    gap: 8px;
    align-items: center;
}

.wrapper {
    justify-content: space-between;
    padding: 2vw;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: 4vw;
    position: relative;
}
.logoLetter {
    color: var(--color-secondary);
    font-size: 10vw;
    line-height: 1;
}

.wrapper li {
    color: var(--color-secondary);
    letter-spacing: -0.3px;
}

.wrapper button {
    cursor: pointer;
}

.wrapper a {
    color: var(--color-secondary)
}

.header {
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: var(--color-secondary);
}

.listsWrapper {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 37%;
    width: min-content;
}

@media (min-width: 600px) {
    .wrapper {
        padding: 0;
        align-items: end;
    }

        .logoLetter {
            font-size: 8vw;
        }

          .listsWrapper {
              top: 30%;
          }
}
@media (min-width: 768px) {
    .wrapper {
        padding: 2.3vw;
        align-items: center;
        font-size: 1.5vw;
    }

    .logoLetter {
        font-size: 6vw;
    }

        .listsWrapper {
            top: 37%;
        }
}

@media (min-width: 1024px) {
    .wrapper {
        padding: 24px;
        align-items: center;
        font-size: 1rem;
    }

    .logoLetter {
        font-size: 4.5vw;
        line-height: 0.8;
    }
}




