.list {
    display: flex;
    gap: 1rem
}

.wrapper {
display: flex;
flex-direction: column;
align-items: center;
color: var(--color-primary);
background-color: var(--color-secondary);
font-size: 1rem;
padding-top: 20px;
padding-bottom: 20px;
gap: 15px;
letter-spacing: -0.5px;
}

.wrapper::-moz-selection, .wrapper li::-moz-selection, .wrapper a::-moz-selection {
    /* Code for Firefox */
    color: var(--color-secondary);
    background: var(--color-primary);
}

.wrapper::selection, .wrapper li::selection, .wrapper a::selection {
    color: var(--color-secondary);
    background: var(--color-primary);
}