.wrapper {
    width: 100%;
}

.imgContainer {
    padding: 23%;
    margin-top: 20px;
}

.displayItem {
    position: relative;
    padding: 10px 10px 50px;
    flex-grow: 1;
    /* border-top: 2px solid var(--color-secondary); */
}

@media (min-width: 768px) {
    .imgContainer {
        padding: 5vw;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}